<template>

  <v-flex xs12 sm6 offset-sm3>
    <v-card>
      <v-container fluid>
        <v-container grid-list-md text-xs-center>
          <v-layout row wrap >
            <v-flex>
              <v-flex xs6 offset-sm3>
                <v-subheader>Academic Year</v-subheader>
              </v-flex>
              <v-flex xs6 offset-sm3>
                <v-form @submit.prevent="onAddTitle">
                  <v-text-field
                    name="academicYear"
                    label="Example: 2018-2019"
                    v-model="newData.academicYear"
                    required
                  >
                  </v-text-field>
                </v-form>

              </v-flex>
            </v-flex>

            <v-flex>
              <v-flex xs6 offset-sm3>
                <v-subheader>Trimester</v-subheader>
              </v-flex>
              <v-flex xs6 offset-sm3>
                <v-select
                  :items="items"
                  label="Select"
                  class="input-group--focused"
                  item-value="text"
                  v-model="newData.trimester"
                >
                </v-select>
              </v-flex>
            </v-flex>

          </v-layout>
        </v-container>

        <v-form @submit.prevent="onAddTitle">
          <v-text-field
            name="description"
            id="description"
            label="Title"
            v-model="newData.description"
            required
          >
          </v-text-field>
          Popular Title: Instruction Begin | Current students’ registration | Payment due date | Late registration & Add-Drop <br>
          Mid-term examination dates | Withdrawal period | Final examination dates
        </v-form>
        <v-form @submit.prevent="onAddTitle">
          <v-text-field
            name="color"
            id="color"
            label="Color e.g. #00FF00 or blue"
            v-model="newData.color"
            required
          >
          </v-text-field>
        </v-form>
        <v-flex>
          <v-icon style="color: #00FF00;">fiber_manual_record</v-icon>#00FF00 (Instruction Begin)
          <v-icon style="color: blue;">fiber_manual_record</v-icon>blue (Registration & Add/Drop)
          <v-icon style="color: purple;">fiber_manual_record</v-icon>purple (Payment Due Date)
          <v-icon style="color: darkgray;">fiber_manual_record</v-icon>darkgray (Withdrawal)
          <v-icon color="red">fiber_manual_record</v-icon>red (Examination)
        </v-flex>
        <v-container text-xs-center>
        <v-layout >
          <v-flex>
            <v-subheader>Start Date</v-subheader>
            <v-date-picker
              v-model="newData.startDate"
              color="green lighten-1"
              :show-current="false"
            >
            </v-date-picker>
          </v-flex>


          <v-flex >
            <v-subheader>End Date</v-subheader>
            <v-date-picker
              v-model="newData.endDate"
              color="red"
              header-color="red"
              :show-current="false"
            >
            </v-date-picker>
          </v-flex>
        </v-layout>
        </v-container>


        <v-btn
          v-on:click="onAddTitle()"
          block color="primary"
          class="white--text"
          type="submit"
          @click.native="snackbar = true"

        >
          Submit
          <v-icon right dark>cloud_upload</v-icon>
        </v-btn>
      </v-container>


      <v-snackbar
        :timeout="timeout"
        :top="y === 'top'"
        :bottom="y === 'bottom'"
        :right="x === 'right'"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :vertical="mode === 'vertical'"
        v-model="snackbar"
      >
        {{ text }}
      </v-snackbar>

    </v-card>
  </v-flex>
</template>

<script>
  export default {
    data: () => ({
      // e1: null,
      items: [
        { text: '1' },
        { text: '2' },
        { text: '3' },
        { text: 'Summer' }
      ],
      snackbar: false,
      y: 'top',
      x: null,
      mode: '',
      timeout: 3000,
      text: 'ADDED',
      menu: false,
      newData: {description: '', startDate: null, endDate: null, trimester: null, academicYear: null, color: ''}
    }),
    methods: {
      onAddTitle () {
        console.log(this.newData.academicYear)
        if ((this.newData.startDate == null && this.newData.endDate == null) || this.newData.trimester == null || this.newData.academicYear == null) {
          alert('Missing Information')
        } if (this.newData.endDate == null) {
          this.newData.endDate = this.newData.startDate
          this.$store.dispatch('addEvent', { description: this.newData.description, startDate: this.newData.startDate, endDate: this.newData.endDate, trimester: this.newData.trimester, academicYear: this.newData.academicYear, color: this.newData.color })
        } else {
          this.$store.dispatch('addEvent', { description: this.newData.description, startDate: this.newData.startDate, endDate: this.newData.endDate, trimester: this.newData.trimester, academicYear: this.newData.academicYear, color: this.newData.color })
        }
      }
    }

  }
</script>
