<template>

  <v-flex xs12 sm6 offset-sm3>
    <v-card>
      Click on the card to remove
      <v-list>
        <v-list-group
          v-for="item in items"
          v-model="item.active"
          :key="item.title"
          :prepend-icon="item.action"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="">
            <v-list-tile-content>
              <v-list-tile-title @click="">{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn v-on:click="onDeleteTitle(item.term ,subItem.key)" icon ripple>
                <!--<v-icon>{{ subItem.action }}</v-icon>-->
                <v-icon>delete</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
  import firebase from '@/firebase'
  import XDate from 'xdate'
  export default {
    data: () => ({
      newData: {description: '', startDate: null, endDate: null, trimester: null, academicYear: null, color: ''},
      items: [
        {
          action: 'school',
          title: 'First Trimester',
          term: 1,
          items: []
        },
        {
          action: 'school',
          title: 'Second Trimester',
          // active: true,
          term: 2,
          items: []
        },
        {
          action: 'school',
          title: 'Third Trimester',
          term: 3,
          items: []
        },
        {
          action: 'school',
          title: 'Summer',
          items: [],
          term: 4
        }],
      title: ['Instruction Begins', 'Registration', 'Payment Due Date'],
      begin: new Date(new Date().setHours(0, 0, 0)).toString(),
      regis: new Date(new Date().setHours(0, 0, 0)).toString(),
      payment: new Date(new Date().setHours(0, 0, 0)).toString(),
      term: -1,
      academicYear: 0
    }),
    methods: {
      onDeleteTitle (term, key) {
        console.log(key)
        console.log(term)
        firebase.database().ref('AcademicYear/' + this.academicYear + '/' + term).child(key).remove()
      }
    },
    created () {
      let d = XDate()
      let m = d.getMonth() + 1
      let y = d.getFullYear()
      let academicYear = ''
      if (m >= 9) {
        academicYear = y + '-' + y + 1
      } else {
        academicYear = y - 1 + '-' + y
      }
      this.academicYear = academicYear
      firebase.database().ref('CurrentTerm/').on('value', snapshot => {
        this.term = snapshot.val()
        for (let i = 0; i < 4; i++) {
          firebase.database().ref('AcademicYear/' + academicYear + '/' + (i + 1) + '/')
            .on('value', snapshot => {
              this.items[i].items = []
              snapshot.forEach(element => {
                let wordLower = element.val()['description'].toLowerCase()
                let word = element.val()['description']
                let date = element.val()['startDate']
                let titles = {}
                titles['title'] = date + ' | ' + word
                console.log(element.key)
                titles['key'] = element.key
                this.items[i].items.push(titles)
                if (wordLower.indexOf('instruction') !== -1 && wordLower.indexOf('begin') !== -1 && i + 1 === this.term) {
                  this.begin = new Date(new Date(date).setHours(0, 0, 0)).toString()
                } else if (wordLower.indexOf('payment') !== -1 && wordLower.indexOf('due') !== -1 && i + 1 === this.term) {
                  this.payment = new Date(new Date(date).setHours(0, 0, 0)).toString()
                } else if (wordLower.indexOf('current') !== -1 && wordLower.indexOf('registration') !== -1 && i + 1 === this.term) {
                  this.regis = new Date(new Date(date).setHours(0, 0, 0)).toString()
                }
              })
            })
        }
      })
    }
  }
</script>
