<template>
  <v-container d-inline-block>
    <v-layout d-inline-block>
      <v-flex wrap>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:9,year:startYear} :max-page={month:9,year:startYear}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:10,year:startYear} :max-page={month:10,year:startYear}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:11,year:startYear} :max-page={month:11,year:startYear}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:12,year:startYear} :max-page={month:11,year:startYear}>
        </v-calendar>
      </v-flex>
      <v-flex >
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:1,year:startYear+1} :max-page={month:1,year:startYear+1}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:2,year:startYear+1} :max-page={month:2,year:startYear+1}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:3,year:startYear+1} :max-page={month:3,year:startYear+1}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:4,year:startYear+1} :max-page={month:4,year:startYear+1}>
        </v-calendar>
      </v-flex>
      <v-flex >
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:5,year:startYear+1} :max-page={month:5,year:startYear+1}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:6,year:startYear+1} :max-page={month:6,year:startYear+1}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:7,year:startYear+1} :max-page={month:7,year:startYear+1}>
        </v-calendar>
        <v-calendar :attributes='attrs' :theme-styles='themeStyles' nav-month-item='nav' nav-visibility='hidden' :min-page={month:8,year:startYear+1} :max-page={month:8,year:startYear+1}>
        </v-calendar>
      </v-flex>
      <v-flex>
        <v-icon style="color: #00FF00;">fiber_manual_record</v-icon> Instruction Begin
        <v-icon style="color: blue;">fiber_manual_record</v-icon> Registration & Add/Drop
        <v-icon style="color: purple;">fiber_manual_record</v-icon> Payment Due Date
        <v-icon style="color: darkgray;">fiber_manual_record</v-icon> Withdrawal
        <v-icon color="red">fiber_manual_record</v-icon> Examination
      </v-flex>
      <v-icon>fas fa-lock</v-icon>
    </v-layout>
  </v-container>
</template>

<script>
  import firebase from '@/firebase'
  import XDate from 'xdate'
  export default {
    data () {
      this.todos = []
      let d = XDate()
      let m = d.getMonth() + 1
      let y = d.getFullYear()
      let academicYear = ''
      if (m >= 9) {
        academicYear = y + '-' + y + 1
      } else {
        academicYear = y - 1 + '-' + y
      }
      return {
        todos: [],
        themeStyles: {
          dayCellNotInMonth: {
            opacity: 0
          }
        },
        startYear: parseInt(academicYear.substring(0, 4))
      }
    },
    methods: {
      snapshotToArray (snapshot) {
        var returnArr = []
        snapshot.forEach(childSnapshot => {
          childSnapshot.forEach(grandChild => {
            grandChild.val()['date'] = grandChild.val().startDate
            var temp = {}
            var attr = grandChild.val()
            temp['id'] = grandChild.key
            temp['color'] = attr.color
            temp['date'] = {start: new Date(attr.startDate), end: new Date(attr.endDate)}
            temp['description'] = attr.description
            returnArr.push(temp)
          })
        })
        return returnArr
      }
    },
    computed: {
      attrs () {
        return this.todos.map(t => ({
          key: `todo.${t.id}`,
          dot: {
            diameter: '5.5px',
            backgroundColor: t.color
          },
          dates: t.date,
          customData: t,
          popover: {
            label: t.description
          }
        }))
      }
    },
    created () {
      this.todos = []
      let d = XDate()
      let m = d.getMonth() + 1
      let y = d.getFullYear()
      let academicYear = ''
      if (m >= 9) {
        academicYear = y + '-' + y + 1
      } else {
        academicYear = y - 1 + '-' + y
      }
      firebase.database().ref('AcademicYear/' + academicYear)
        .on('value', snapshot => {
          var temp = []
          this.snapshotToArray(snapshot).forEach(attr => {
            temp.push(attr)
          })
          this.todos = temp
        })
    }
  }
</script>
