<template>
  <v-container grid-list-md text-xs-center>


    <v-card color="secondary">
    <div>
    <div class="block">
      <p class="text">{{this.title}}</p>
      <p class="digit">{{ days }}</p>
      Days
    </div>
    <div class="block">

      <p class="digit">{{ hours }}</p>
      Hours

    </div>
    <div class="block">
      <p class="digit">{{ minutes }}</p>
      Minutes
    </div>
    <div class="block">
      <p class="digit">{{ seconds }}</p>
      Seconds
    </div>
    </div>
    </v-card>
  </v-container>

</template>

<style>
  .block {
    display: inline-block;
    margin: 10px;
  }

  .text {
    color: #0e4790;
    font-weight: bold;
  }

  .digit {
    color: #140310;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Roboto', serif;
    margin: 10px;
    text-align: center;
  }
</style>

<script>
  export default {
    mounted () {
      window.setInterval(() => {
        this.now = new Date().getTime()
      }, 1000)
    },
    props: ['date', 'title'],
    filters: {
      two_digits (value) {
        if (value.toString().length <= 1) {
          return '0' + value.toString()
        }
        return value.toString()
      }
    },
    data () {
      return {
        now: new Date().getTime()
      }
    },
    computed: {
      seconds () {
        return ((Date.parse(this.date) - this.now) / 1000 % 60).toFixed(0)
      },
      minutes () {
        return (Math.trunc((Date.parse(this.date) - this.now) / 1000 / 60) % 60).toFixed(0)
      },
      hours () {
        return (Math.trunc((Date.parse(this.date) - this.now) / 1000 / 60 / 60) % 24).toFixed(0)
      },
      days () {
        return ((Math.trunc(Date.parse(this.date) - this.now)) / 1000 / 60 / 60 / 24).toFixed(0)
      }
    }
  }
</script>
