
<template>
  <v-container fluid >


      <v-layout row>
        <v-flex style="flex: none">

          <calendar></calendar>
        </v-flex>

        <v-flex d-inline-block>
            <Countdown :date="begin" :title="title[0]"></Countdown>
            <Countdown :date="regis" :title="title[1]"></Countdown>
            <Countdown :date="payment" :title="title[2]"></Countdown>

          <v-card>
            <v-toolbar color="primary" dark>
              <v-toolbar-title>Trimester</v-toolbar-title>
            </v-toolbar>
            <v-list>
              <v-list-group
                v-for="item in items"
                v-model="item.active"
                :key="item.title"
                :prepend-icon="item.action"
                no-action
              >
                <v-list-tile slot="activator">
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="">
                  <v-list-tile-content>
                    <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-icon>{{ subItem.action }}</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
              </v-list-group>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
  import Calendar from './Calendar'
  import Countdown from './Countdown'
  import firebase from '@/firebase'
  import XDate from 'xdate'
  export default {
    components: {
      'calendar': Calendar,
      'Countdown': Countdown
    },
    methods: {
    },
    created () {
      let d = XDate()
      let m = d.getMonth() + 1
      let y = d.getFullYear()
      let academicYear = ''
      if (m >= 9) {
        academicYear = y + '-' + y + 1
      } else {
        academicYear = y - 1 + '-' + y
      }
      firebase.database().ref('CurrentTerm/').on('value', snapshot => {
        this.term = snapshot.val()
        for (let i = 0; i < 4; i++) {
          firebase.database().ref('AcademicYear/' + academicYear + '/' + (i + 1) + '/')
            .on('value', snapshot => {
              this.items[i].items = []
              snapshot.forEach(element => {
                let wordLower = element.val()['description'].toLowerCase()
                let word = element.val()['description']
                let date = element.val()['startDate']
                let titles = {}
                titles['title'] = date + ' | ' + word
                this.items[i].items.push(titles)
                if (wordLower.indexOf('instruction') !== -1 && wordLower.indexOf('begin') !== -1 && i + 1 === this.term) {
                  this.begin = new Date(new Date(date).setHours(0, 0, 0)).toString()
                } else if (wordLower.indexOf('payment') !== -1 && wordLower.indexOf('due') !== -1 && i + 1 === this.term) {
                  this.payment = new Date(new Date(date).setHours(0, 0, 0)).toString()
                } else if (wordLower.indexOf('current') !== -1 && wordLower.indexOf('registration') !== -1 && i + 1 === this.term) {
                  this.regis = new Date(new Date(date).setHours(0, 0, 0)).toString()
                }
              })
            })
        }
      })
    },
    data () {
      return {
        items: [
          {
            action: 'school',
            title: 'First Trimester',
            items: []
          },
          {
            action: 'school',
            title: 'Second Trimester',
            // active: true,
            items: []
          },
          {
            action: 'school',
            title: 'Third Trimester',
            items: []
          },
          {
            action: 'school',
            title: 'Summer',
            items: []
          }],
        title: ['Instruction Begins', 'Registration', 'Payment Due Date'],
        begin: new Date(new Date().setHours(0, 0, 0)).toString(),
        regis: new Date(new Date().setHours(0, 0, 0)).toString(),
        payment: new Date(new Date().setHours(0, 0, 0)).toString(),
        term: -1
      }
    }
  }
</script>
