<template>
  <v-app>
    <v-toolbar app dark color="primary">
      <span class="hidden-sm-and-up">
        <v-toolbar-side-icon @click="sidebar = !sidebar">
        </v-toolbar-side-icon>
      </span>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">
          {{ appTitle }}
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat @click="userSignOut" v-if="isAuthenticated">
        <v-icon left>exit_to_app</v-icon>
        Sign Out
      </v-btn>
    </v-toolbar>

    <v-content>

      <v-container fluid>
        <router-view></router-view>
      </v-container>

    </v-content>

  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        sidebar: false
      }
    },
    computed: {
      appTitle () {
        return this.$store.state.appTitle
      },
      isAuthenticated () {
        return this.$store.getters.isAuthenticated
        // return true
      },
      menuItems () {
        if (this.isAuthenticated) {
          return [
            {title: 'Admin', path: '/admin', icon: 'home'}
          ]
        } else {
          return [{ title: 'Home', path: '/home', icon: 'home' },
            { title: 'Sign In', path: '/signin', icon: 'lock_open' }]
        }
      }
    },
    methods: {
      userSignOut () {
        this.$store.dispatch('userSignOut')
      }
    }
  }
</script>
